<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-back-button text="atras" defaulHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Realizar Pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
<ion-card>
    <ion-card-header>
      <ion-card-title>Realizar Pago</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <img class="user-avatar round" style="height: 200px; max-width: 500px;" src="/assets/imgpay.png" alt="" />
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
