<ion-header>
  <ion-toolbar>
    <ion-title>
      Creditos Clavada Facil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/creditos.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Por favor inicie sesion con su correo y contraseña.</p>
      </ion-card-content>
    </ion-card>

    <form [formGroup]="todo" (ngSubmit)="logForm()">
        <ion-item>
          <ion-label position="floating">Usuario:</ion-label>
          <ion-input type="email" formControlName="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input type="password" formControlName="contrasena"></ion-input>
        </ion-item>
        <ion-button type="submit" [disabled]="!todo.valid" expand="block" fill="outline">Iniciar Sesion</ion-button>
      </form>

</ion-content>
